{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>catégorie ajoutée✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'E:/DWWM/Exercices/symfony/testBDD/src/Controller/CategoryController.php'|file_link(0) }}">src/Controller/CategoryController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'E:/DWWM/Exercices/symfony/testBDD/templates/category/index.html.twig'|file_link(0) }}">templates/category/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}