{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block main %}
    <div class="example-wrapper">
        <h1>{{title}}</h1>
        {{ form_start(form) }} 
        {{ form_end(form) }} 
    </div>
{% endblock %}