{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block main %}

<div >
    <h1>Liste des catégories</h1>
    <a href="{{ path('category_add') }}" >Ajouter une catégorie</a>
    <table>


        {% for categ in categories %}
        <tr>
            <td>
                <p>{{ categ.libelle }}<p>
            </td>
            <td>
                <a href="{{ path('category_edit', {category: categ.id} ) }}">Editer cette Catégorie</a>
            </td>
            <td>
                <a href="{{ path('category_delete', {category: categ.id}) }}" >Supprimer cette Catégorie</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
